<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>실습1 폼 전송완료</h1>
    <ul>
      <li><span>이름 :<%=userInfo.name%></span></li>
      <li><span>성별 :<%=userInfo.gender%></span></li>
      <li><span>생일 :<%=userInfo.birth%></span></li>
      <li><span>취미 :<%=userInfo.hobby%></span></li>
    </ul>
    <a href="/">홈으로 이동</a>
  </body>
</html>
